button {
  height: 50px;
  width: 50px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}

#halloween{
  background: url('images/halloween_med.png') no-repeat scroll 0 0 transparent;
}

#thanksgiving{
  background: url('images/thanksgiving_med.png') no-repeat scroll 0 0 transparent;
}

#christmas{
  background: url('images/christmas_med.png') no-repeat scroll 0 0 transparent;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}